In [2]:
import pandas as pd
from sklearn.linear_model import ElasticNetCV

In [3]:
#Import metadata
long_data=pd.read_csv("/scratch/ckelsey4/Cayo_meth/long_data_adjusted.txt", sep="\t")
long_data=long_data[long_data['n'] > 1]
long_data=long_data.sort_values(by=['lid_pid'])
long_data

,monkey_id,lid_pid,pid,age_at_sampling,mean.age,within.age,individual_sex,n,processing_timestamp,prep_date,university
317,94H,LID_101336_PID_10042,10042,14.01,15.895000,-1.885000,M,2,2012-01-18,2018-09-06,uw
170,52P,LID_101343_PID_10042,10042,11.24,16.058000,-4.818000,F,5,2012-03-14,2018-08-30,uw
43,1E2,LID_101345_PID_10042,10042,6.11,9.110000,-3.000000,F,2,2012-11-27,2018-09-14,uw
69,2A5,LID_101347_PID_10042,10042,7.20,11.990000,-4.790000,F,2,2012-03-13,2018-08-30,uw
139,49V,LID_101348_PID_10042,10042,8.29,11.665000,-3.375000,F,2,2012-02-29,2018-09-06,uw
...,...,...,...,...,...,...,...,...,...,...,...
42,1A3,LID_111779_PID_10496,10496,15.88,16.405000,-0.525000,F,2,2020-10-12,2022-07-12,asu
343,9D1,LID_111780_PID_10496,10496,14.01,14.033333,-0.023333,M,3,2020-10-19,2022-07-12,asu
183,59A,LID_111783_PID_10496,10496,27.97,27.973333,-0.003333,F,3,2020-11-17,2022-07-12,asu
224,6F0,LID_111784_PID_10496,10496,13.18,13.655000,-0.475000,M,2,2020-12-01,2022-07-12,asu
47,1G0,LID_111785_PID_10496,10496,12.13,9.130000,3.000000,F,3,2020-12-03,2022-07-12,asu

In [5]:
#Import coverage data
cpgs_cov=pd.read_csv("/scratch/ckelsey4/Cayo_meth/dnam_clock/cpg_cov.txt", sep=" ")

#Import count data
cpgs_m=pd.read_csv("/scratch/ckelsey4/Cayo_meth/dnam_clock/cpg_m.txt", sep=" ")

In [6]:
cpgs_cov.head()

,LID_101336_PID_10042,LID_101343_PID_10042,LID_101345_PID_10042,LID_101347_PID_10042,LID_101348_PID_10042,LID_101349_PID_10042,LID_101350_PID_10042,LID_101353_PID_10042,LID_101354_PID_10042,LID_101355_PID_10042,...,LID_111772_PID_10496,LID_111774_PID_10496,LID_111775_PID_10496,LID_111776_PID_10496,LID_111778_PID_10496,LID_111779_PID_10496,LID_111780_PID_10496,LID_111783_PID_10496,LID_111784_PID_10496,LID_111785_PID_10496
1.3027,14,5,5,5,8,2,5,5,4,4,...,3,1,2,4,6,1,6,6,6,3
1.3120,16,8,7,14,17,8,11,5,9,8,...,2,15,3,6,5,1,5,7,6,4
1.9006,8,9,4,8,8,3,7,6,11,2,...,10,10,10,15,3,11,7,12,10,6
1.9058,7,7,1,8,10,7,16,13,9,7,...,20,35,26,22,5,6,13,31,18,10
1.9063,7,14,6,11,13,9,18,15,16,17,...,20,37,27,23,7,7,13,31,18,11